<section class="top-bar">
    <div class="row">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
          <div class="bar-right">
            <ul class="list-inline">
              <li  class="list-inline-item" *ngIf="!IsAuthentication()">
                <a [routerLink]="['/login']">
                  Đăng nhập
                </a>
              </li>
              <li class="list-inline-item" *ngIf="!IsAuthentication()">
                <a [routerLink]="['/register']">
                  Đăng ký
                </a>
              </li>
              <li class="list-inline-item profile-list" *ngIf="IsAuthentication()">
                <div class="profile">
                  <a>{{name}}</a>
                </div>
                <ul class="dropdown list-unstyled list-fur">
                  <li *ngIf="isAdmin"><a [routerLink]="['/manager']">Quản lý</a></li>
                  <li><a (click)="LogOut()" [routerLink]="['/']">Đăng xuất</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
</section>