.manage-add-movie{
    background-color: rgb(236, 232, 232);
    height:100%;
    float: right;
    width: 80%;
    position :relative;
    padding :20px;
    
}
.title-movie {
    text-decoration: none;
    border-bottom: 1px solid black;
    font-size: 25px;
}
.title-add{
    padding: 20px 0;
}
.title-movie-add p{
    
    padding : 8px;
}

.title-movie-add {
    font-size: 35px;
    text-align: center;
}
.form-add{
    padding: 0 30px;
}
.btn-add{
    width:250px;
    float:right;
    height:45px;
}