<app-movie-banner></app-movie-banner>
<div class="home-movie">
    <div class="home-title">
        <h2>PHIM SẮP CHIẾU</h2>
    </div>
    <div class="home-movie-list">
          <ul class="gallery">
            <li target="_blank">
              <a  href="https://m.media-amazon.com/images/I/91LPOMer4jL._AC_SL1500_.jpg">
                <img src="https://m.media-amazon.com/images/I/91LPOMer4jL._AC_SL1500_.jpg" alt="Cinque Terre" width="600" height="400">
              </a>
            </li>
            <li class="desc">Add a description of the image here</li>
          </ul>
          <div class="gallery">
            <a target="_blank" href="https://m.media-amazon.com/images/I/91LPOMer4jL._AC_SL1500_.jpg">
              <img src="https://m.media-amazon.com/images/I/91LPOMer4jL._AC_SL1500_.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
          </div>
    </div>
</div>
