<section class="edit-cinema">
  <div class="title-edit">
    <p>QUẢN LÝ THÀNH VIÊN</p>
  </div>
  <div class="title">
    <div class="title-edit-info">
      <p>CHỈNH SỬA THÔNG TIN</p>
    </div>
  </div>
  <div class="edit-content">
    <form class="row g-3 form-edit edit-left">
      <div class="col-md-12">
        <label class="form-label">Họ Tên</label>
        <input class="form-control">
      </div>
      <div class="col-md-12">
        <label class="form-label" for="disabledTextInput">Email</label>
        <input class="form-control" id="disabledTextInput">
      </div>
      <div class="col-md-12">
        <label class="form-label">Số Điện Thoại</label>
        <input class="form-control">
      </div>
      <div class="col-md-12">
        <label class="form-label">Ngày Sinh</label>
        <input class="form-control">
      </div>
      <div>
        <button type="submit" class="btn btn-primary btn-edit">XÁC NHẬN</button>
      </div>
    </form>
  </div>
</section>