<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="https://media.lottecinemavn.com/Media/WebAdmin/78cb27436b3e4b8b97c5858b57915d8b.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <button type="button" class="btn btn-outline-primary btn-lg mt-3 slide_btn">
                    Chi Tiết
                </button>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
        <img src="https://media.lottecinemavn.com/Media/WebAdmin/ff874fa3e7f64de7b91247834bdaf2c6.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <button  type="button" class="btn btn-outline-primary btn-lg mt-5 slide_btn">
                Chi Tiết
        </button>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
        <img src="https://media.lottecinemavn.com/Media/WebAdmin/ffa7be1d1f324053b477ffd0cc712b59.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <button  type="button" class="btn btn-outline-primary btn-lg mt-5 slide_btn">
                Chi Tiết
            </button>          
        </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>