.edit-cinema{
    background-color: rgb(236, 232, 232);
    height:100%;
    float: right;
    width: 80%;
    position :relative;
    padding :20px;
    
}
.title-edit {
    text-decoration: none;
    border-bottom: 1px solid black;
    font-size: 25px;
}
.title{
    padding: 20px 0;
}
.title-edit-info p{
    
    padding : 8px;
}

.title-edit-info {
    font-size: 35px;
    text-align: center;
   
}
.edit-content{
  margin: 0 400px;
}
.btn-edit{
  float: right;
}

